<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Type of encoding used (utf-8) -->
        <meta charset="utf-8"/>
        <!-- Page's description -->
        <meta name="description" content="Imobiliaria Page"/>
        <!-- Page's author -->
        <meta name="author" content="Leonardo Antunes dos Santos"/>
        <!-- Mobile devices screen configurarion to load the page -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Refresh the page in each 3 seconds -->
        <meta http-equiv="refresh" content=""/>
        <!-- Page title -->
        <title> Computer Vision Panel </title>
        <!-- CSS reference -->
        <!--<link href="{% static 'App01/css/style.css' %}" rel="stylesheet">-->
        <link href="../static/App01/css/style_homepage.css" rel="stylesheet">
        <link href="../static/App01/css/reset.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>


    </head>

<body class="main_body">
    <!-- Vídeo de background -->
    <video autoplay muted loop id="myVideo">
        <source src="../static/App01/videos/Untitled Project/Untitled Project.mp4" type="video/mp4">
      </video> 
    <!-- Header -->
    <header class="main__header">
        <div class="main__header__logo">
            <p> Painel de Visão Computacional </p>
        </div>
        <!-- Navegação principal -->
        <nav class="main__header__nav">
            <ul class="main__header__nav__list">
                <li class="main__header__nav__list__item"> <a href="inicio" class="main__header__nav__list__item__link"> Início </a> </li>
                <li class="main__header__nav__list__item"> <a href="face_detector" class="main__header__nav__list__item__link"> Detector de Face </a> </li>
                <li class="main__header__nav__list__item"> <a href="facial_mask_detector" class="main__header__nav__list__item__link"> Detector de Máscara Facial </a> </li>
                <li class="main__header__nav__list__item"> <a href="atention_detector" class="main__header__nav__list__item__link"> Detector de Sono </a> </li>
            </ul>
        </nav>
    </header>

    <main class="content__section">
        <i class="ancora" id="inicio"></i>
        <section class="content__section__first">    
        </section>

        <!-- Frame contendo o login -->
        <section class="content__section__homepage">
            <div class="login__frame">
                <div class="login__frame__title"> 
                    <p> Dados de Acesso </p>
                </div>
                <div class="login__frame__data"> 
                    <form action="../App01/views/login" method="post" class=login__frame__data__form>                        
                        <div class="login__frame__data__form__items">
                            <label for="login" class="login__frame__data__form__items__label"> Login </label>
                            <label for="senha" class="login__frame__data__form__items__label"> Senha </label>                            
                        </div>    
                        <div class="login__frame__data__form__items">
                            <input type="text" name="login" id="login" class="login__frame__data__form__items__input" placeholder="Login">
                            <input type="password" name="senha" id="senha" class="login__frame__data__form__items__input" placeholder="Senha">
                        </div> 
                        <div class="login__frame__data__form__items">
                            <input type="submit" class="login__frame__data__form__items__submit" value="Entrar">
                        </div>
                    </form>                   
                </div>
            </div>
        </section>
    </main>
</body>

<script type="text/javascript">

function IniciarCamera() {
        console.log ("Clicou no botão ligar");
        document.getElementById("imgClickAndChange").src = "{%url 'video_feed' %}";
    }

function DesligarCamera() {
        console.log ("Clicou no botão desligar");
        document.getElementById("imgClickAndChange").src = "";
    }

function AtualizarEstado() {
        console.log ("Clicou no botão atualizar");
        document.getElementById("imgClickAndChange").src = "";
        //document.getElementById("imgClickAndChange").src = "{%url 'video_feed' %}";
    }
</script>

</html>


